{% extends 'layout.html' %}

{% block content %}
    <h2> Check National Identification Number </h2>
    <div class="form-row align-items-center">
        <div class="col-md-8">
            <label class="sr-only" for="inlineFormInput">Name</label>
            <input type="text" class="form-control mb-4" id="id_nid" placeholder="NID card number">
        </div>
        <div class="col-md-3">
            <button type="button" id="check_nid_button" class="btn btn-primary mb-4">Submit</button>
        </div>
    </div>
    <p id="status"></p>
{% endblock %}