{% extends 'layout.html' %}

{% block content %}
    <h2 class="float-left">বাংলাদেশের বিভাগসমূহ </h2>
    <h4 class="float-right"><a href="{% url 'districts' %}">জেলা তালিকা</a></h4>
    <table class="table table-striped">
        <tr>
            <th>নাম</th>
            <th>জনসংখ্যা</th>
            <th>আয়তন</th>
        </tr>
        {% for div in divisions %}
            <tr>
                <td><a href="{% url 'dists_of_division' div.id %}">{{ div.name }}</a></td>
                <td>{{ div.population }}</td>
                <td>{{ div.area }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}