{% extends 'layout.html' %}
{% block content %}
    <div class="alert alert-info"><a href="{% url 'cost-list' %}">Expense list</a></div>
    <form method="POST" class="form-horizontal">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
{% endblock %}