<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>বাংলায় জ্যাঙ্গো - {{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <script type="text/javascript">
        app = {
            base: "{{base_url}}",
        }
    </script>

    <script src="{% static 'js/app.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="container">
    <div class="page-header page-header-custom clearfix">
        <h1 class="text-center float-left">বাংলায় জ্যাঙ্গো</h1>
        <div class="float-right">
            {% if user.is_authenticated %}
                <a class="btn btn-danger" href="{% url 'logout' %}">Log Out</a>
            {% else %}
                <a class="btn btn-success" href="{% url 'login' %}">Login</a>
                <a class="btn btn-primary" href="{% url 'signup' %}">Signup</a>
            {% endif %}
        </div>
    </div>
    <div class="bg-warning">
        <span class="pr-3"><a href="/">Home</a></span>
        {% for k, v in appsUrl.items %}
            <span class="pr-3"><a href="/{{ v }}">{{ k }}</a></span>
        {% endfor %}
    </div>
    <div class="jumbotron">
        {% block content %}
        {% endblock %}
    </div>
</div>
</body>
</html>