{% extends "layout.html" %}

{% block content %}
    <div class="w-50 m-auto text-center">
        <h1>লগিন</h1>

        <form class='form' id="login_form" method="post" action="/user/">
            {% csrf_token %}
            <div class="form-group row">
                <label class="col-3 col-form-label" for="">Username</label>
                <input class="col form-control" type="text" name="username" value="" size="50"/>
            </div>
            <div class="form-group row">
                <label class="col-3 col-form-label" for="">Password</label>
                <input class="col form-control" type="password" name="password" value="" size="50"/>
            </div>
            <div class="form-group row">
                <label for="" class="col-3"></label>
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
    </div>

{% endblock content %}