{% extends "layout.html" %}

{% block content %}
    <h1>রেজিষ্ট্রেশন</h1>
    <form class="form" method="post" action="/user/signup/">
        {% csrf_token %}
        {% for field in signup_form %}
            <p>
                {{ field.label_tag }}<br>
                {{ field }}
                {% if field.help_text %}
                    <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </p>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}