{% extends "layout.html" %}

{% block content %}
    <h1>Send Mail {% if success %}<span class="text-success">Success</span>{% endif %}</h1>
    <form class="form" method="post" action="/email/">
        {% csrf_token %}
        {% for field in email_form %}
            <div>
                {{ field.label_tag }}<br>
                {{ field }}
                {% if field.help_text %}
                    <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}